@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;

  /* background-image: url(https://imagenesyogonet.b-cdn.net/data/imagenes/2025/08/22/78773/1755872834-lottu-app-apuestas-deportivas.jpg); */
  background-repeat: no-repeat;
  background-size: conver;
  background-position: center;
}
a {
  color: inherit;
}
